@import '../../../constants/styleVariables.scss';

.login {
  flex: 1 0 auto;
  display: flex;
}

.form {
  padding-top: 77px;
  padding-bottom: 36px;
  background-color: $purple;

  & > .icon {
    margin-bottom: 56px;
  }
}
