@import '../../../../constants/styleVariables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 30px 30px 37px;

  height: 116px;
  background-color: $green-color;

  @media all and (max-width: 480px) {
    height: 77pt;
  }
}

.logo {
  @media all and (max-width: 480px) {
    height: 37pt;
  }
}
